p{
    margin-bottom: 0px;
    padding-bottom: 0px;
}
.remove-btn{
    text-decoration: none;
    color: red;
    font-weight: bold;
    font-size: 20px;
}

footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    font-size: 18px;
}
footer a{
    color: black;
}